# configs/dreambooth_lora.yaml
experiment:
  name: "dreambooth_lora_baseline"
  output_dir: "./outputs/style_ckpt/style_00"  # /dreambooth_lora_baseline
  logging_dir: "./logs"

model:
  pretrained_model_name_or_path: "Charles-Elena/stable-diffusion-2-1"
  revision: null
  tokenizer_name: null
  rank: 4  # LoRA Rank

data:
  instance_data_dir: "./data/train/00/images"
  instance_prompt: "a photo of style_00"

  resolution: 512
  center_crop: false
  train_batch_size: 1
  dataloader_num_workers: 0

  tokenizer_max_length: null

  # prior preservation
  with_prior_preservation: false
  prior_loss_weight: 1.0
  class_data_dir: null
  class_prompt: null
  num_class_images: 100

train:
  seed: 42
  learning_rate: 1.0e-4
  max_train_steps: 800
  gradient_accumulation_steps: 1
  lr_scheduler: "constant"
  lr_warmup_steps: 0
  adam_beta1: 0.9
  adam_beta2: 0.999
  adam_weight_decay: 1.0e-2
  adam_epsilon: 1.0e-8
  max_grad_norm: 1.0
  
  # 算法开关
  text_encoder_use_attention_mask: false