# configs/dreambooth_lora.yaml
experiment:
  name: "self-tune_dreambooth_lora"
  output_dir: "./outputs/style_ckpt/style_00"  # /dreambooth_lora_baseline
  logging_dir: "./logs"

model:
  pretrained_model_name_or_path: "Charles-Elena/stable-diffusion-2-1"
  revision: null
  tokenizer_name: null
  unet_lora_rank: 64
  text_encoder_lora_rank: 8

data:
  instance_data_dir: "./data/train/00/images"
  instance_prompt: "style_00"
  dynamic_prompt: true
  tokenizer_max_length: null

  # picture concerned
  resolution: 512
  center_crop: false
  do_augmentation: true
  
  # prior preservation
  with_prior_preservation: true
  prior_loss_weight: 0.9  # 0.8, 1.0
  class_data_dir: "./data/prior/00"
  class_prompt: "an object"
  num_class_images: 300

  # training concerned
  train_batch_size: 1
  dataloader_num_workers: 0

train:
  seed: 42 # 0

  learning_rate: 1.0e-4
  max_train_steps: 1200  # 1200, 800, 500
  gradient_accumulation_steps: 1
  # num_process: 1

  scale_lr: false
  lr_scheduler: "constant"
  lr_warmup_steps: 0
  lr_num_cycles: 1
  lr_power: 1.0

  adam_beta1: 0.9
  adam_beta2: 0.999
  adam_weight_decay: 1.0e-2
  adam_epsilon: 1.0e-8
  max_grad_norm: 1.0
  
  # text_encoder_use_attention_mask: false

infer:
  seed: 42  # real_seed = seed + style_id
  batch_size: 5

  origin_scale: 0.0
  guidance_scale: 7.5
  strength: 0.9
  negative_prompt: null  # "longbody, lowres, bad anatomy, bad hands, missing fingers, extra digit, fewer digits, cropped, worst quality, low quality"
  num_inference_steps: 40